{% extends "components/layout.html" %}
{% block main %}

    <style>
        th{
            text-align: center;
        }
    </style>

    <div class="card" style="width: 95%">
        <p>工行客服问答列表</p>
        <table class="table table-hover" style="table-layout:fixed">
            <thead>
                <tr>
                    <th style="width: 30%">可回答问题（总计：470）</th>
                    <th style="width: 30%">不可回答问题（总计：48）</th>
                    <th style="width: 30%">不可回答原因</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 30%;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis"><a href="#" class="sampleQuestionItem">什么是企业手机银行？</a><br>
<a href="#" class="sampleQuestionItem">什么是企业银财通？</a><br>
<a href="#" class="sampleQuestionItem">什么是企业网银人事证书？</a><br>
<a href="#" class="sampleQuestionItem">什么是工行企业网上银行普通卡证书？</a><br>
<a href="#" class="sampleQuestionItem">什么是工行积存金（积存二号）兑换业务？</a><br>
<a href="#" class="sampleQuestionItem">什么是账户原油实时买入？</a><br>
<a href="#" class="sampleQuestionItem">什么是账户原油到期结算价格？</a><br>
<a href="#" class="sampleQuestionItem">什么是“聚财易”理财协议？</a><br>
<a href="#" class="sampleQuestionItem">什么是账户原油？</a><br>
<a href="#" class="sampleQuestionItem">什么是账户原油期次产品转期？</a><br>
<a href="#" class="sampleQuestionItem">什么是账户原油先买后卖？</a><br>
<a href="#" class="sampleQuestionItem">什么是“T+0”理财协议？</a><br>
<a href="#" class="sampleQuestionItem">什么是外汇买卖？</a><br>
<a href="#" class="sampleQuestionItem">什么是利添利账户理财业务？</a><br>
<a href="#" class="sampleQuestionItem">什么是稳利理财产品？</a><br>
<a href="#" class="sampleQuestionItem">什么是账户交易类及外汇买卖业务中的单边点差？</a><br>
<a href="#" class="sampleQuestionItem">什么是工银现金快线？</a><br>
<a href="#" class="sampleQuestionItem">什么是步步为赢理财？</a><br>
<a href="#" class="sampleQuestionItem">什么是信用卡最低还款额？</a><br>
<a href="#" class="sampleQuestionItem">什么是牡丹贷记卡？</a><br>
<a href="#" class="sampleQuestionItem">什么是云闪付？</a><br>
<a href="#" class="sampleQuestionItem">什么是工银信使服务？</a><br>
<a href="#" class="sampleQuestionItem">什么是2018贺岁普通纪念币？</a><br>
<a href="#" class="sampleQuestionItem">什么是工行“逸贷”业务？</a><br>
<a href="#" class="sampleQuestionItem">什么是工行个人网上银行的“网上预约”业务？</a><br>
<a href="#" class="sampleQuestionItem">什么是工行工银e支付？</a><br>
<a href="#" class="sampleQuestionItem">什么是短信银行？</a><br>
<a href="#" class="sampleQuestionItem">什么是短信银行密码？</a><br>
<a href="#" class="sampleQuestionItem">什么是U盾证书？</a><br>
<a href="#" class="sampleQuestionItem">什么是工银e支付？</a><br>
<a href="#" class="sampleQuestionItem">什么是工银融e行？</a><br>
<a href="#" class="sampleQuestionItem">什么是余额变动提醒服务？</a><br>
<a href="#" class="sampleQuestionItem">什么是工银信使？</a><br>
<a href="#" class="sampleQuestionItem">什么是融e联客户端？</a><br>
<a href="#" class="sampleQuestionItem">什么是新版网银？</a><br>
<a href="#" class="sampleQuestionItem">什么是个人网银？</a><br>
<a href="#" class="sampleQuestionItem">什么是微信银行？</a><br>
<a href="#" class="sampleQuestionItem">什么是工银e生活？</a><br>
<a href="#" class="sampleQuestionItem">什么是融e借（个人信用消费贷款）？</a><br>
<a href="#" class="sampleQuestionItem">什么是手机银行贵金属业务？</a><br>
<a href="#" class="sampleQuestionItem">什么是手机扫码无卡取现？</a><br>
<a href="#" class="sampleQuestionItem">什么是微信银行？</a><br>
<a href="#" class="sampleQuestionItem">企业网银自助开通银企对账方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">企业网银U盾的安装方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">对公工银信使定制方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">企业网银柜台记账式债券交易明细查询方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">企业网银境内汇款方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">企业手机银行的汇款方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">企业网银银税通开通方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">手机银行开通第三方存管的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">开通手机银行理财交易权限的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">更换办理银证转账银行卡的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">查询结售汇明细的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">银行卡办理的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">微信银行查询信用卡对账单的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">网上银行登录的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">查询融e联个人综合积分的方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">账户余额的查询方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">手机扫码无卡取现办理方法是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行企业网上银行“付款业务-单位公务用卡审核报销”功能的申办条件是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行账户贵金属先买入后卖出业务的柜台及电子银行渠道的交易时间是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行代理个人实物黄金业务的交割品种是什么？</a><br>
<a href="#" class="sampleQuestionItem">账户贵金属指数的交易时间是什么？</a><br>
<a href="#" class="sampleQuestionItem">办理信用卡消费分期条件是什么？</a><br>
<a href="#" class="sampleQuestionItem">信用卡办理条件是什么？</a><br>
<a href="#" class="sampleQuestionItem">信用卡办卡领卡时间是什么？</a><br>
<a href="#" class="sampleQuestionItem">学生卡信用卡办卡额度审批规定是什么？</a><br>
<a href="#" class="sampleQuestionItem">信用卡副卡办理条件是什么？</a><br>
<a href="#" class="sampleQuestionItem">信用卡办理的条件是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行融e购商城的网址是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行个人客户星级下降的原因是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行网址是什么？</a><br>
<a href="#" class="sampleQuestionItem">查询/修改余额变动提醒的接收方式是什么？</a><br>
<a href="#" class="sampleQuestionItem">登录网银注意事项是什么？</a><br>
<a href="#" class="sampleQuestionItem">工银融e借的申请条件是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行个人客户星级下降的原因是什么？</a><br>
<a href="#" class="sampleQuestionItem">挂失补卡规定是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行的“牡丹借贷合一卡”是什么？</a><br>
<a href="#" class="sampleQuestionItem">工行普及版企业网银转账限额是多少？</a><br>
<a href="#" class="sampleQuestionItem">企业网银CFCA证书的年费是多少？</a><br>
<a href="#" class="sampleQuestionItem">企业网银结售汇限额是多少？</a><br>
<a href="#" class="sampleQuestionItem">企业网银普及版的年费是多少？</a><br>
<a href="#" class="sampleQuestionItem">工行个人实物白银递延Ag（T+D）合约的交易手续费是多少？</a><br>
<a href="#" class="sampleQuestionItem">工行个人账户原油买卖业务的交易起点是多少？</a><br>
<a href="#" class="sampleQuestionItem">代理Ag（T+D）保证金比例是多少？</a><br>
<a href="#" class="sampleQuestionItem">信用卡境外人民币账户取款限额是多少？</a><br>
<a href="#" class="sampleQuestionItem">工行客服电话是多少？</a><br>
<a href="#" class="sampleQuestionItem">工商银行逸贷业务逾期贷款罚息利率是多少？</a><br>
<a href="#" class="sampleQuestionItem">转账交易汇款的限额是多少？</a><br>
<a href="#" class="sampleQuestionItem">登录企业网银后无法检测到U盾怎么办？</a><br>
<a href="#" class="sampleQuestionItem">企业U盾证书密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">在网上银行查看基金份额是有的，但是点击赎回后份额为0，怎么办？</a><br>
<a href="#" class="sampleQuestionItem">融e联登录密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">使用IE浏览器登录“商户之家”，遇密码区（或验码区）不能输入，或提示“验证码输入错误”怎么办？</a><br>
<a href="#" class="sampleQuestionItem">网上银行登录密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">iPhone手机连接不到明华U盾怎么办？</a><br>
<a href="#" class="sampleQuestionItem">U盾密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">快捷支付提示“与银行预留手机号码不符”怎么办？</a><br>
<a href="#" class="sampleQuestionItem">密码器开机密码忘记怎么办？</a><br>
<a href="#" class="sampleQuestionItem">密码器密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">手机银行登录密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">工银e支付开通报错93004718时该怎么办？</a><br>
<a href="#" class="sampleQuestionItem">收不到余额变动提醒怎么办？</a><br>
<a href="#" class="sampleQuestionItem">银行卡取款密码忘记/冻结怎么办？</a><br>
<a href="#" class="sampleQuestionItem">使用工行借记卡或信用卡进行快捷支付等业务时页面提示：抱歉与银行预留手机号码不符，怎么办？</a><br>
<a href="#" class="sampleQuestionItem">如何查询企业网银银企对账开通情况？</a><br>
<a href="#" class="sampleQuestionItem">如何通过工行企业网上银行定制余额变动提醒业务？</a><br>
<a href="#" class="sampleQuestionItem">如何注册普及版企业网银？</a><br>
<a href="#" class="sampleQuestionItem">如何查询企业网银定期转活期指令？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银开通第三方存管？</a><br>
<a href="#" class="sampleQuestionItem">如何查询企业网银待处理授权？</a><br>
<a href="#" class="sampleQuestionItem">如何开通企业手机银行？</a><br>
<a href="#" class="sampleQuestionItem">如何在企业网银自助开通银企对账业务？</a><br>
<a href="#" class="sampleQuestionItem">如何查询企业网银汇总记账清单？</a><br>
<a href="#" class="sampleQuestionItem">如何查询企业网银登录退出明细？</a><br>
<a href="#" class="sampleQuestionItem">如何查询对公账户开户行？</a><br>
<a href="#" class="sampleQuestionItem">如何查询对公账户明细？</a><br>
<a href="#" class="sampleQuestionItem">如何查询企业网银柜台记账式债券交易明细？</a><br>
<a href="#" class="sampleQuestionItem">如何修改或增加对公短信提醒手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何办理工行企业网上银行证书密码重置业务？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银代发工资？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改企业网银证书权限？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银设置基金自动再投资？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银查询账号？</a><br>
<a href="#" class="sampleQuestionItem">如何注销企业网银？</a><br>
<a href="#" class="sampleQuestionItem">如何分步安装工行企业网上银行证书驱动程序？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银赎回法人理财产品？</a><br>
<a href="#" class="sampleQuestionItem">如何管理企业网银收款人名册？</a><br>
<a href="#" class="sampleQuestionItem">如何开通企业网银贵宾室？</a><br>
<a href="#" class="sampleQuestionItem">如何安装企业网银控件？</a><br>
<a href="#" class="sampleQuestionItem">如何重置企业网银密码？</a><br>
<a href="#" class="sampleQuestionItem">如何注册企业网银？</a><br>
<a href="#" class="sampleQuestionItem">如何安装企业网银U盾？</a><br>
<a href="#" class="sampleQuestionItem">如何代办领取企业网银证书？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银办理银企对账？</a><br>
<a href="#" class="sampleQuestionItem">如何通过企业网银查询定期存款？</a><br>
<a href="#" class="sampleQuestionItem">如何注册标准版工行企业网上银行？</a><br>
<a href="#" class="sampleQuestionItem">如何修改工行企业电话银行的登录密码？</a><br>
<a href="#" class="sampleQuestionItem">如何办理工行企业网上银行证书密码重置业务？</a><br>
<a href="#" class="sampleQuestionItem">如何变更工行企业网上银行证书批量支付权限？</a><br>
<a href="#" class="sampleQuestionItem">如何分步安装工行企业网上银行的控件程序？</a><br>
<a href="#" class="sampleQuestionItem">如何查询工行企业网上银行公转私限额？</a><br>
<a href="#" class="sampleQuestionItem">如何查询贷款利率？</a><br>
<a href="#" class="sampleQuestionItem">如何查询理财产品净值？</a><br>
<a href="#" class="sampleQuestionItem">如何计算贵金属递延收入？</a><br>
<a href="#" class="sampleQuestionItem">如何查询理财产品交易时间？</a><br>
<a href="#" class="sampleQuestionItem">如何撤销第三方存管与银行绑定关系？</a><br>
<a href="#" class="sampleQuestionItem">如何开通手机银行理财交易权限？</a><br>
<a href="#" class="sampleQuestionItem">如何办理结售汇？</a><br>
<a href="#" class="sampleQuestionItem">如何通过发短信查询工行发布的贵金属价格？</a><br>
<a href="#" class="sampleQuestionItem">如何查询薪金溢1号协议？</a><br>
<a href="#" class="sampleQuestionItem">如何购买理财产品？</a><br>
<a href="#" class="sampleQuestionItem">如何通过短信查询账户贵金属的持仓方法？</a><br>
<a href="#" class="sampleQuestionItem">如何发短信查询第三方存管余额？</a><br>
<a href="#" class="sampleQuestionItem">如何办理工行工银财富理财金卡？</a><br>
<a href="#" class="sampleQuestionItem">如何办理账户贵金属平仓？</a><br>
<a href="#" class="sampleQuestionItem">如何开通账户原油？</a><br>
<a href="#" class="sampleQuestionItem">如何查询手机银行记账式国债交易明细？</a><br>
<a href="#" class="sampleQuestionItem">如何赎回理财产品？</a><br>
<a href="#" class="sampleQuestionItem">如何查询薪金溢1号日均存款余额？</a><br>
<a href="#" class="sampleQuestionItem">如何办理TA基金账户的登记？</a><br>
<a href="#" class="sampleQuestionItem">如何查询账户农产品信息？</a><br>
<a href="#" class="sampleQuestionItem">如何办理基金转换？</a><br>
<a href="#" class="sampleQuestionItem">如何开立个人“如意金”积存账户？</a><br>
<a href="#" class="sampleQuestionItem">如何通过融e联预约“和”字楷书纪念币？</a><br>
<a href="#" class="sampleQuestionItem">如何通过网上银行购买实物金银？</a><br>
<a href="#" class="sampleQuestionItem">如何通过手机银行购买理财产品？</a><br>
<a href="#" class="sampleQuestionItem">如何变更薪金溢1号协议？</a><br>
<a href="#" class="sampleQuestionItem">如何查询基金在途交易明细？</a><br>
<a href="#" class="sampleQuestionItem">如何查询贵金属价格？</a><br>
<a href="#" class="sampleQuestionItem">如何兑付电子式储蓄国债？</a><br>
<a href="#" class="sampleQuestionItem">如何查询基金净值？</a><br>
<a href="#" class="sampleQuestionItem">如何办理代理贵金属现货？</a><br>
<a href="#" class="sampleQuestionItem">如何通过手机银行查询/撤销外汇买卖挂单？</a><br>
<a href="#" class="sampleQuestionItem">如何撤销7天增利（LT7D01）理财？</a><br>
<a href="#" class="sampleQuestionItem">如何缴纳交通罚款？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡还款日？</a><br>
<a href="#" class="sampleQuestionItem">如何注册成为工行个人网上银行金融超市的会员？</a><br>
<a href="#" class="sampleQuestionItem">如何查询贷款信息？</a><br>
<a href="#" class="sampleQuestionItem">如何申请信用卡调额？</a><br>
<a href="#" class="sampleQuestionItem">如何变更信用卡联络信息？</a><br>
<a href="#" class="sampleQuestionItem">如何签订信用卡自动还款？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡逸贷的还款时间？</a><br>
<a href="#" class="sampleQuestionItem">如何在短信银行查询信用卡账单？</a><br>
<a href="#" class="sampleQuestionItem">如何提高星级？</a><br>
<a href="#" class="sampleQuestionItem">如何办理信用卡？</a><br>
<a href="#" class="sampleQuestionItem">如何申请融e借？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡额度？</a><br>
<a href="#" class="sampleQuestionItem">如何办理信用卡分期？</a><br>
<a href="#" class="sampleQuestionItem">如何查询银行联络信息？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡办卡时限？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡办卡进度？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡对账单？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡应还款金额？</a><br>
<a href="#" class="sampleQuestionItem">如何查询信用卡优惠活动？</a><br>
<a href="#" class="sampleQuestionItem">如何调整信用卡额度？</a><br>
<a href="#" class="sampleQuestionItem">如何申请信用卡？</a><br>
<a href="#" class="sampleQuestionItem">如何预约2018贺岁普通纪念币？</a><br>
<a href="#" class="sampleQuestionItem">如何办理信用卡账单分期？</a><br>
<a href="#" class="sampleQuestionItem">如何启用信用卡？</a><br>
<a href="#" class="sampleQuestionItem">如何进行积分兑换？</a><br>
<a href="#" class="sampleQuestionItem">如何查询周边工行网点信息？</a><br>
<a href="#" class="sampleQuestionItem">如何查询积分？</a><br>
<a href="#" class="sampleQuestionItem">如何添加工行个人网上银行注册卡/账户？</a><br>
<a href="#" class="sampleQuestionItem">如何查询工银信使的状态？</a><br>
<a href="#" class="sampleQuestionItem">如何使用工银融e联二维码支付？</a><br>
<a href="#" class="sampleQuestionItem">如何修改工行个人网上银行登录密码？</a><br>
<a href="#" class="sampleQuestionItem">如何开通短信银行？</a><br>
<a href="#" class="sampleQuestionItem">如何通过手机银行办理信用卡？</a><br>
<a href="#" class="sampleQuestionItem">如何设置密码并用微信查余额？</a><br>
<a href="#" class="sampleQuestionItem">如何玩转微信银行？</a><br>
<a href="#" class="sampleQuestionItem">如何下载/使用U盾？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改短信提醒手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何定制融e联工银信使？</a><br>
<a href="#" class="sampleQuestionItem">如何安装工银e投资？</a><br>
<a href="#" class="sampleQuestionItem">如何下载融e购手机客户端？</a><br>
<a href="#" class="sampleQuestionItem">如何获取动态密码？</a><br>
<a href="#" class="sampleQuestionItem">如何安装网银控件？</a><br>
<a href="#" class="sampleQuestionItem">如何安装工银e校园App？</a><br>
<a href="#" class="sampleQuestionItem">如何安装新版网银控件？</a><br>
<a href="#" class="sampleQuestionItem">如何开通手机银行？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改余额变动提醒接收方式？</a><br>
<a href="#" class="sampleQuestionItem">如何设置、修改Apple pay借记卡密码？</a><br>
<a href="#" class="sampleQuestionItem">如何开通短信银行免密查询？</a><br>
<a href="#" class="sampleQuestionItem">如何使用Apple Pay支付卡消费？</a><br>
<a href="#" class="sampleQuestionItem">如何办理工银信使展期？</a><br>
<a href="#" class="sampleQuestionItem">如何修改手机银行注册手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何修改开户预留手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何修改融e联绑定手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何使用微信查询余额？</a><br>
<a href="#" class="sampleQuestionItem">如何查询手机银行交易限额？</a><br>
<a href="#" class="sampleQuestionItem">如何开通短信银行免密查询功能？</a><br>
<a href="#" class="sampleQuestionItem">如何办理融e借（个人信用消费贷款）？</a><br>
<a href="#" class="sampleQuestionItem">如何查询银行联络信息？</a><br>
<a href="#" class="sampleQuestionItem">如何关注融e联服务号？</a><br>
<a href="#" class="sampleQuestionItem">如何解决手机银行登录密码忘记/冻结？</a><br>
<a href="#" class="sampleQuestionItem">如何查询星级？</a><br>
<a href="#" class="sampleQuestionItem">如何定制余额变动提醒？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改在我行预留的手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改手机银行绑定手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何激活使用密码器？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改预留手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何分步下载工行个人网银控件？</a><br>
<a href="#" class="sampleQuestionItem">如何分步安装工行个人网上银行证书驱动程序？</a><br>
<a href="#" class="sampleQuestionItem">如何添加手机银行注册账户？</a><br>
<a href="#" class="sampleQuestionItem">如何使用手机银行查询明细？</a><br>
<a href="#" class="sampleQuestionItem">如何查询开户行？</a><br>
<a href="#" class="sampleQuestionItem">如何设置余额变动提醒消息显示余额？</a><br>
<a href="#" class="sampleQuestionItem">如何通过微信银行查询优惠/更多功能？</a><br>
<a href="#" class="sampleQuestionItem">如何下载/登录手机银行客户端？</a><br>
<a href="#" class="sampleQuestionItem">如何激活/使用密码器？</a><br>
<a href="#" class="sampleQuestionItem">如何通过微信银行查询金融行情/理财？</a><br>
<a href="#" class="sampleQuestionItem">如何用手机银行编辑“我的收款人”？</a><br>
<a href="#" class="sampleQuestionItem">如何查询明细？</a><br>
<a href="#" class="sampleQuestionItem">如何用手机银行查询汇款详情？</a><br>
<a href="#" class="sampleQuestionItem">如何通过融e联绑定您的新手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何定制工银信使？</a><br>
<a href="#" class="sampleQuestionItem">如何开通工行个人余额变动提醒服务？</a><br>
<a href="#" class="sampleQuestionItem">如何办理储蓄卡挂失补卡？</a><br>
<a href="#" class="sampleQuestionItem">如何解决银行卡取款密码忘记/冻结？</a><br>
<a href="#" class="sampleQuestionItem">如何查询网银/手机银行跨行汇款到账时间？</a><br>
<a href="#" class="sampleQuestionItem">如何查询账户状态？</a><br>
<a href="#" class="sampleQuestionItem">如何将单币种工行存折更换为多币种？</a><br>
<a href="#" class="sampleQuestionItem">如何进行银行卡或存折的挂失？</a><br>
<a href="#" class="sampleQuestionItem">如何查询汇款详情？</a><br>
<a href="#" class="sampleQuestionItem">如何修改开户预留手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何办理自助机具吞卡业务？</a><br>
<a href="#" class="sampleQuestionItem">如何缴纳交通罚款？</a><br>
<a href="#" class="sampleQuestionItem">如何撤销工行灵通卡、e时代卡、理财金卡的临时挂失？</a><br>
<a href="#" class="sampleQuestionItem">如何修改工行人民币借记卡的取款密码？</a><br>
<a href="#" class="sampleQuestionItem">如何查询储蓄卡、存折/单开户日期？</a><br>
<a href="#" class="sampleQuestionItem">如何挂失银行卡或存折？</a><br>
<a href="#" class="sampleQuestionItem">如何修改开户预留的手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何查询开户行行号？</a><br>
<a href="#" class="sampleQuestionItem">如何通过营业网点查询/打印联名账户明细？</a><br>
<a href="#" class="sampleQuestionItem">如何查询贷款审批进度？</a><br>
<a href="#" class="sampleQuestionItem">如何查询卡号/账号？</a><br>
<a href="#" class="sampleQuestionItem">如何通过手机银行查询余额？</a><br>
<a href="#" class="sampleQuestionItem">如何通过微信银行查询优惠/更多功能？</a><br>
<a href="#" class="sampleQuestionItem">如何查询转账汇款限额？</a><br>
<a href="#" class="sampleQuestionItem">如何办理转账汇款？</a><br>
<a href="#" class="sampleQuestionItem">如何注销储蓄卡？</a><br>
<a href="#" class="sampleQuestionItem">如何查询明细？</a><br>
<a href="#" class="sampleQuestionItem">如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">如何定制余额变动提醒？</a><br>
<a href="#" class="sampleQuestionItem">如何添加手机银行注册账户？</a><br>
<a href="#" class="sampleQuestionItem">如何查询开户行？</a><br>
<a href="#" class="sampleQuestionItem">如何开立二类账户？</a><br>
<a href="#" class="sampleQuestionItem">如何查询网点/自助机具？</a><br>
<a href="#" class="sampleQuestionItem">如何查询/修改预留手机号？</a><br>
<a href="#" class="sampleQuestionItem">如何使用短信银行查询余额？</a><br>
<a href="#" class="sampleQuestionItem">如何办理工行牡丹灵通卡？</a><br>
<a href="#" class="sampleQuestionItem">如何办理工行理财金账户卡？</a><br>
<a href="#" class="sampleQuestionItem">如何撤销工行灵通卡、e时代卡、理财金卡的临时挂失？</a><br>
<a href="#" class="sampleQuestionItem">如何查询转账汇款到账时间？</a><br>
<a href="#" class="sampleQuestionItem">如何查询贷款信息？</a><br>
<a href="#" class="sampleQuestionItem">工银现金快线购买方法有哪些？</a><br>
<a href="#" class="sampleQuestionItem">账户原油产品办理渠道有哪些？</a><br>
<a href="#" class="sampleQuestionItem">第三方存管业务开通手续有哪些？</a><br>
<a href="#" class="sampleQuestionItem">黄金T+D与黄金期货的区别有哪些？</a><br>
<a href="#" class="sampleQuestionItem">调整信用卡额度条件有哪些？</a><br>
<a href="#" class="sampleQuestionItem">工银二维码支付优惠活动有哪些？</a><br>
<a href="#" class="sampleQuestionItem">信用卡卡种有哪些？</a><br>
<a href="#" class="sampleQuestionItem">环球旅行信用卡优惠及服务有哪些？</a><br>
<a href="#" class="sampleQuestionItem">工银长隆联名信用卡优惠活动有哪些？</a><br>
<a href="#" class="sampleQuestionItem">信用卡还款方法有哪些？</a><br>
<a href="#" class="sampleQuestionItem">绑卡消费赢4999返现的活动内容有哪些？</a><br>
<a href="#" class="sampleQuestionItem">开通网银的方法有哪些？</a><br>
<a href="#" class="sampleQuestionItem">开通手机银行的方法有哪些？</a><br>
<a href="#" class="sampleQuestionItem">门户网站工银e支付的业务种类有哪些？</a><br>
<a href="#" class="sampleQuestionItem">融e借“幸运连连奖”的活动内容有哪些？</a><br>
<a href="#" class="sampleQuestionItem">银行卡功能有哪些？</a><br>
<a href="#" class="sampleQuestionItem">北京市政交通一卡通充值方法有哪些？</a><br>
<a href="#" class="sampleQuestionItem">企业电话银行如何查询账户明细？</a><br>
<a href="#" class="sampleQuestionItem">企业网银如何开通工银信使？</a><br>
<a href="#" class="sampleQuestionItem">企业手机银行如何进行转账汇款？</a><br>
<a href="#" class="sampleQuestionItem">企业如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">无法登录企业网银如何解决？</a><br>
<a href="#" class="sampleQuestionItem">企业网银报错：1913，指令处理失败如何处理？</a><br>
<a href="#" class="sampleQuestionItem">企业电话银行如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">企业网银如何查询活期转定期指令？</a><br>
<a href="#" class="sampleQuestionItem">企业手机银行如何查询单位汇款详情？</a><br>
<a href="#" class="sampleQuestionItem">企业网银如何定制首页？</a><br>
<a href="#" class="sampleQuestionItem">企业网银证书密码如何修改？</a><br>
<a href="#" class="sampleQuestionItem">积存金如何开户？</a><br>
<a href="#" class="sampleQuestionItem">通过工行短信银行如何查询理财产品净值？</a><br>
<a href="#" class="sampleQuestionItem">通过工行办理积存金（积存二号）积存与赎回业务的时间是如何规定的？</a><br>
<a href="#" class="sampleQuestionItem">通过工行如何查询发行期的理财产品信息？</a><br>
<a href="#" class="sampleQuestionItem">通过工行短信银行如何开通证券信息提醒服务？</a><br>
<a href="#" class="sampleQuestionItem">发短信如何查询基金持有份额？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人网上银行如何购买保险？</a><br>
<a href="#" class="sampleQuestionItem">通过手机银行如何开通账户原油？</a><br>
<a href="#" class="sampleQuestionItem">通过工行短信银行如何查询黄金价格？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询托管账户余额？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何赎回理财产品？</a><br>
<a href="#" class="sampleQuestionItem">通过工行短信银行如何退订信使服务中的国债业务？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人网上银行如何查询实物贵金属递延业务的违约记录？</a><br>
<a href="#" class="sampleQuestionItem">在工行如何开立基金公司TA账户？</a><br>
<a href="#" class="sampleQuestionItem">短信如何查询信用卡应还款金额？</a><br>
<a href="#" class="sampleQuestionItem">短信银行如何查询信用卡对账单？</a><br>
<a href="#" class="sampleQuestionItem">微信银行如何办理信用卡自动还款？</a><br>
<a href="#" class="sampleQuestionItem">网银如何办理信用卡自动还款？</a><br>
<a href="#" class="sampleQuestionItem">营业网点如何办理信用卡？</a><br>
<a href="#" class="sampleQuestionItem">信用卡同行异地取款手续费如何收取？</a><br>
<a href="#" class="sampleQuestionItem">微信银行如何查询信用卡额度？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何进行卡号或账号的查询？</a><br>
<a href="#" class="sampleQuestionItem">信用卡如何申办办卡领卡？</a><br>
<a href="#" class="sampleQuestionItem">信用卡办卡领卡方式及时间是如何规定？</a><br>
<a href="#" class="sampleQuestionItem">微信银行如何申请信用卡调额？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何办理信用卡？</a><br>
<a href="#" class="sampleQuestionItem">电话银行如何申请信用卡调额？</a><br>
<a href="#" class="sampleQuestionItem">短信银行如何查询信用卡账单？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询信用卡对账单？</a><br>
<a href="#" class="sampleQuestionItem">信用卡如何还款？</a><br>
<a href="#" class="sampleQuestionItem">信用卡如何办卡领卡？</a><br>
<a href="#" class="sampleQuestionItem">网上银行如何办理信用卡消费分期？</a><br>
<a href="#" class="sampleQuestionItem">电话银行如何查询信用卡对账单？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询信用卡办卡进度？</a><br>
<a href="#" class="sampleQuestionItem">通过工商银行官网如何查询招聘信息？</a><br>
<a href="#" class="sampleQuestionItem">工行个人客户星级是如何评定的？</a><br>
<a href="#" class="sampleQuestionItem">IE8.0清缓步骤如何操作？</a><br>
<a href="#" class="sampleQuestionItem">微信如何绑定银行卡？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何终止工银信使？</a><br>
<a href="#" class="sampleQuestionItem">微信银行如何绑定微信ID？</a><br>
<a href="#" class="sampleQuestionItem">微信银行客户如何用密码查余额？</a><br>
<a href="#" class="sampleQuestionItem">融e借（个人信用消费贷款）额度是如何规定？</a><br>
<a href="#" class="sampleQuestionItem">短信银行如何定制余额变动提醒？</a><br>
<a href="#" class="sampleQuestionItem">网上银行如何办理转账汇款？</a><br>
<a href="#" class="sampleQuestionItem">下载U盾证书提示：java script error，对象不支持此属性或方法，应该如何处理该问题？</a><br>
<a href="#" class="sampleQuestionItem">“报错：8282，该手机号已注册手机银行”。如何处理？</a><br>
<a href="#" class="sampleQuestionItem">手机如何登录网银？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何定制工银信使？</a><br>
<a href="#" class="sampleQuestionItem">工行个人网上银行导航条的下拉菜单无法弹出，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">登录工行个人网上银行时总提示验证码输入错误或操作超时，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">在手机银行如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">不想通过融e联接收余额变动提醒，如何恢复使用短信？</a><br>
<a href="#" class="sampleQuestionItem">无法登录网上银行如何解决？</a><br>
<a href="#" class="sampleQuestionItem">微信银行如何办理信用卡无期限调额？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何定制余额变动提醒？</a><br>
<a href="#" class="sampleQuestionItem">第三方支付提示“与银行预留手机号码不符”，应该如何解决？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询积分明细？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询卡号/账号？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人电话银行如何快速查询开户行？</a><br>
<a href="#" class="sampleQuestionItem">怎么下载安装工行网银助手？</a><br>
<a href="#" class="sampleQuestionItem">登录工行个人网银时提示代码“96111945验证码输入错误或已超时失效”，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">登录个人网上银行时提示“96111945验证码输入错误或已超时失效”或“您已成功退出网上银行”，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">登录个人网银时提示“7845非银行户口介质，不能办理此业务”，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">自助注册个人网银时提示”7801”，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">使用u盾支付时提示在列表中选择要用的证书，但是下拉列表为空，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">通过网银办理业务时，页面提示：-2146827850，对象不支持此属性或方法，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">登录手机银行时提示客户3010，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何办理转账汇款？</a><br>
<a href="#" class="sampleQuestionItem">网银如何办理转账汇款？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">短信如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">通过工行如何办理跨行汇款业务？</a><br>
<a href="#" class="sampleQuestionItem">网银如何查询卡号/账号？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询定期存款？</a><br>
<a href="#" class="sampleQuestionItem">短信/微信银行如何查询交易明细的期限？</a><br>
<a href="#" class="sampleQuestionItem">电话银行如何转账汇款？</a><br>
<a href="#" class="sampleQuestionItem">网上银行转账汇款手续费如何收取？</a><br>
<a href="#" class="sampleQuestionItem">对账务明细有疑问如何处理？</a><br>
<a href="#" class="sampleQuestionItem">在工行开具的外币携带证丢失如何补办？</a><br>
<a href="#" class="sampleQuestionItem">手机银行转账汇款手续费如何收取？</a><br>
<a href="#" class="sampleQuestionItem">营业网点转账汇款手续费如何收取？</a><br>
<a href="#" class="sampleQuestionItem">第三方支付提示“与银行预留手机号码不符”的如何解决？</a><br>
<a href="#" class="sampleQuestionItem">微信如何查询定期存款？</a><br>
<a href="#" class="sampleQuestionItem">工行整存整取定期存款利息如何计算？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询工资明细？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询明细？</a><br>
<a href="#" class="sampleQuestionItem">手机银行如何查询卡号/账号？</a><br>
<a href="#" class="sampleQuestionItem">跨行汇款无法选择开户行名称该如何解决？</a><br>
<a href="#" class="sampleQuestionItem">收不到余额变动提醒该如何解决？</a><br>
<a href="#" class="sampleQuestionItem">微信如何查询余额？</a><br>
<a href="#" class="sampleQuestionItem">工行人民币借记卡密码因输错次数过多被锁，应如何解锁？</a><br>
<a href="#" class="sampleQuestionItem">注册工行企业网上银行一般需要多长时间？</a><br>
<a href="#" class="sampleQuestionItem">企业法人在工行开立单位基本存款账户需提供哪些资料？</a><br>
<a href="#" class="sampleQuestionItem">企业手机银行都有哪些功能？</a><br>
<a href="#" class="sampleQuestionItem">企业网银工行理财产品交易时间是什么时候？</a><br>
<a href="#" class="sampleQuestionItem">通过工行企业网上银行办理银企对账的流程是怎样的？</a><br>
<a href="#" class="sampleQuestionItem">使用工行企业网上银行需要对IE浏览器进行哪些设置？</a><br>
<a href="#" class="sampleQuestionItem">通过工行企业网上银行什么功能提交融资申请？</a><br>
<a href="#" class="sampleQuestionItem">通过工行企业网上银行可以在线变更网上协定存款的存款限定额度吗？</a><br>
<a href="#" class="sampleQuestionItem">工行企业网上银行分为哪些版本？</a><br>
<a href="#" class="sampleQuestionItem">工行企业网上银行交易所会员服务下的“新股网下申购”是指什么？</a><br>
<a href="#" class="sampleQuestionItem">通过开户行申请注册工行企业网上银行时需提交哪些材料？</a><br>
<a href="#" class="sampleQuestionItem">工行企业网上银行标准版和中小企业版有什么区别？</a><br>
<a href="#" class="sampleQuestionItem">工行企业网上银行证书有哪几类？</a><br>
<a href="#" class="sampleQuestionItem">哪些渠道可以续交工行企业网上银行证书年服务费？</a><br>
<a href="#" class="sampleQuestionItem">进入工行微信银行后，发送什么代码可查询白银价格？</a><br>
<a href="#" class="sampleQuestionItem">融e联理财计算器功能都包含哪些类型呢？</a><br>
<a href="#" class="sampleQuestionItem">进入工行微信银行后，发送什么代码可查询黄金价格？</a><br>
<a href="#" class="sampleQuestionItem">什么时间可以办理工行保本稳利/工银财富70天稳利系列理财产品的撤单交易？</a><br>
<a href="#" class="sampleQuestionItem">工行办理基金申购或赎回的交易时间是什么时候？</a><br>
<a href="#" class="sampleQuestionItem">通过工行办理个人实物白银递延Ag(T+D）业务会产生哪些费用？</a><br>
<a href="#" class="sampleQuestionItem">通过工行注册个人实物黄金账户需要多长时间？</a><br>
<a href="#" class="sampleQuestionItem">通过工行办理个人贵金属递延交易平仓后，资金何时到账？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人网上银行购买储蓄国债（电子式）有何时间限制？</a><br>
<a href="#" class="sampleQuestionItem">在工行办理个人实物黄金业务时，什么情况会产生“溢短费”？</a><br>
<a href="#" class="sampleQuestionItem">可以使用工行信用卡办理个人贵金属递延业务吗？</a><br>
<a href="#" class="sampleQuestionItem">通过工行办理黄金ETF业务的时间是什么时候？</a><br>
<a href="#" class="sampleQuestionItem">非个人实物贵金属递延交易时间能否通过工行进行风险测评？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人网上银行办理基金赎回时，提示“余额不足”，是什么原因？</a><br>
<a href="#" class="sampleQuestionItem">可以使用哪些币种买卖工行个人账户原油？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人手机银行是否可以开通“理财类交易认证”功能？</a><br>
<a href="#" class="sampleQuestionItem">购买理财产品有何条件？</a><br>
<a href="#" class="sampleQuestionItem">外汇现钞与现汇有何区别？</a><br>
<a href="#" class="sampleQuestionItem">办理外汇买卖需要满足什么条件？</a><br>
<a href="#" class="sampleQuestionItem">法人理财产品能否保本保收益？</a><br>
<a href="#" class="sampleQuestionItem">“积存金”与“如意金积存”有何区别？</a><br>
<a href="#" class="sampleQuestionItem">账户外汇挂单的有效期有多长？</a><br>
<a href="#" class="sampleQuestionItem">未成年人能否通过柜面办理积存贵金属（含积存一号、二号）相关业务？</a><br>
<a href="#" class="sampleQuestionItem">信用卡手机银行挂失的方法？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人手机银行能否办理信用卡分期付款业务？</a><br>
<a href="#" class="sampleQuestionItem">工行短信银行都提供什么服务？</a><br>
<a href="#" class="sampleQuestionItem">信用卡办卡领卡时间是多久？</a><br>
<a href="#" class="sampleQuestionItem">柜面预留手机号是什么意思？</a><br>
<a href="#" class="sampleQuestionItem">北京分行哪些网点可以办理个人住房公积金贷款？</a><br>
<a href="#" class="sampleQuestionItem">牡丹信用卡有哪些种类？</a><br>
<a href="#" class="sampleQuestionItem">工银World奋斗信用卡有哪些优惠及权益？</a><br>
<a href="#" class="sampleQuestionItem">微信支付绑定工银信用卡可享受什么优惠？</a><br>
<a href="#" class="sampleQuestionItem">信用卡爱购绑卡有什么促销活动？</a><br>
<a href="#" class="sampleQuestionItem">爱购周末超值活动大放送有哪些优惠？</a><br>
<a href="#" class="sampleQuestionItem">工行个人网上银行中的跨行快汇和跨行汇款有什么区别？</a><br>
<a href="#" class="sampleQuestionItem">能介绍一下工行发行的探月纪念章贵金属实物产品吗？</a><br>
<a href="#" class="sampleQuestionItem">工行的“钞转汇手续费”是什么意思？</a><br>
<a href="#" class="sampleQuestionItem">工银e支付有限额吗？</a><br>
<a href="#" class="sampleQuestionItem">新版网银“e缴费”位置在哪里？</a><br>
<a href="#" class="sampleQuestionItem">网银“U盾”位置在哪里？</a><br>
<a href="#" class="sampleQuestionItem">网银“金融日历”位置在哪里？</a><br>
<a href="#" class="sampleQuestionItem">工行微信银行绑定了微信ID而且开通了免密查询是怎么回事？</a><br>
<a href="#" class="sampleQuestionItem">在登录网上银行时为什么无法输入网银登录密码？</a><br>
<a href="#" class="sampleQuestionItem">工行个人手机银行无卡预约取现业务是否支持信用卡？</a><br>
<a href="#" class="sampleQuestionItem">中国工商银行工行电子密码器怎么用？</a><br>
<a href="#" class="sampleQuestionItem">通过工行个人手机银行能否办理信用卡分期付款业务？</a><br>
<a href="#" class="sampleQuestionItem">为什么收不到登录提醒短信？</a><br>
<a href="#" class="sampleQuestionItem">在工行自助终端机进行的预约挂号操作是否需要插卡并输入密码？</a><br>
<a href="#" class="sampleQuestionItem">工行的现钞账户是什么意思？</a><br>
<a href="#" class="sampleQuestionItem">自助机具跨行汇款何时到账？</a><br>
<a href="#" class="sampleQuestionItem">工行借记卡或存折存单类账户申请正式挂失后，多久可以补领新账户或取款？</a><br>
<a href="#" class="sampleQuestionItem">工行个人外汇买卖业务的“挂单交易”是指什么？</a><br>
<a href="#" class="sampleQuestionItem">工行个人通知存款是怎么计算利息的？</a><br>
<a href="#" class="sampleQuestionItem">通过境内其他银行向工行账号办理人民币汇款，款项多久可以到账？</a><br>
<a href="#" class="sampleQuestionItem">通过企业网银付款时，系统报错“-409”该如何处理？</a><br>
<a href="#" class="sampleQuestionItem">登录工行企业网银，通过驱动程序检查U盾连接时提示“60058017选择文件错误”，如何处理？</a><br>
<a href="#" class="sampleQuestionItem">企业网银提示：“请在列表中选择证书”如何解决？</a><br>
<a href="#" class="sampleQuestionItem">明华、天地融、飞天诚信、华虹多语言证书登录工行企业网银时遇到错误代码403，怎么办？</a><br>
<a href="#" class="sampleQuestionItem">工行网址是什么？</a><br>
<a href="#" class="sampleQuestionItem">如何提高星级？</a><br>
                    </td>
                    <td style="width:30%;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis">
                        <a href="#" class="sampleQuestionItem">什么是前端收费和后端收费？</a><br>
                        <a href="#" class="sampleQuestionItem">工行代理销售的熊猫币的成色和规格有哪些？</a><br>
                        <a href="#" class="sampleQuestionItem">贷款品种为个人住房（含二手房）或个人商用房贷款，在北京分行申请存贷通业务的存款抵扣起点金额、存款抵扣比率、贷款抵扣比率分别是多少？</a><br>
                        <a href="#" class="sampleQuestionItem">使用口令卡通过工行个人网上银行交易的限额是多少？如何提高限额？</a><br>
                        <a href="#" class="sampleQuestionItem">登录工行企业网银，点击“U盾登录”后报错：“网银无法显示”，怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">登录企业网银后无法检测到U盾怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">企业U盾证书密码忘记/冻结怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">在网上银行查看基金份额是有的，但是点击赎回后份额为0，怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">使用IE浏览器登录“商户之家”，遇密码区（或验码区）不能输入，或提示“验证码输入错误”怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">iPhone手机连接不到明华U盾怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">工银e支付开通报错93004718时该怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">使用工行借记卡或信用卡进行快捷支付等业务时页面提示：抱歉与银行预留手机号码不符，怎么办？</a><br>
                        <a href="#" class="sampleQuestionItem">分行特色信用卡有哪些？</a><br>
                        <a href="#" class="sampleQuestionItem">绑卡消费赢4999返现的活动内容有哪些？</a><br>
                        <a href="#" class="sampleQuestionItem">发送卡号/密码自助办理业务的注意事项是什么？</a><br>
                        <a href="#" class="sampleQuestionItem">转账交易汇款的限额是多少？</a><br>
                        <a href="#" class="sampleQuestionItem">如何进行积分兑换？</a><br>
                        <a href="#" class="sampleQuestionItem">使用口令卡通过工行个人网上银行交易的限额是多少？如何提高限额？</a><br>
                        <a href="#" class="sampleQuestionItem">黄金T+D与黄金期货的区别有哪些？</a><br>
                        <a href="#" class="sampleQuestionItem">账户原油买入价和卖出价差价不固定的原因是什么？</a><br>
                        <a href="#" class="sampleQuestionItem">无法转账常见问题有哪些？</a><br>
                        <a href="#" class="sampleQuestionItem">通过工行企业网上银行办理汇款时，输完验证码后页面提示“未找到初始化工行证书介质”，如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">登录工行企业网上银行时报错“403”，应如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">企业网银如何自助开通银企对账？</a><br>
                        <a href="#" class="sampleQuestionItem">登录企业网银时系统报错“60018001”该如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">登录企业网银时系统报错“22227”该如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">使用企业网银结汇时系统报错“1431”该如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">无法登录企业网银时该如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">登录企业网银时系统报错“14792”该如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">通过工行柜台新注册企业网上银行或密码重置后登录企业网银时提示22229用户ID已冻结，如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">登录或操作工行企业网上银行时，经常弹出密码框，要求输入密码，如何解决？</a><br>
                        <a href="#" class="sampleQuestionItem">网银如何查询已持有理财产品的购买时间？</a><br>
                        <a href="#" class="sampleQuestionItem">登录工行企业网上银行选择证书后提示“该页无法显示”，如何处理？</a><br>
                        <a href="#" class="sampleQuestionItem">企业手机银行如何办理汇款？</a><br>
                        <a href="#" class="sampleQuestionItem">多个银行账户如何开通企业网银？</a><br>
                        <a href="#" class="sampleQuestionItem">通过短信如何查询账户贵金属持仓？</a><br>
                        <a href="#" class="sampleQuestionItem">（已在证券公司开户）在工行如何开通第三方存管业务？</a><br>
                        <a href="#" class="sampleQuestionItem">网银如何查询集中式银期转账明细？</a><br>
                        <a href="#" class="sampleQuestionItem">通过工行渠道如何办理转账汇款？</a><br>
                        <a href="#" class="sampleQuestionItem">通过工行渠道如何查询余额？</a><br>
                        <a href="#" class="sampleQuestionItem">通过工行渠道如何查询个人账户开户行信息？</a><br>
                    </td>
                    <td style="width:30%;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis">
                        多实体问题<br>
                        多关系问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        条件型问题<br>
                        主体缺失型问题（同时能模糊匹配到实体，无法进行全文查询）<br>
                        主体缺失型问题（同时能模糊匹配到实体，无法进行全文查询）<br>
                        主体缺失型问题（同时能模糊匹配到实体，无法进行全文查询）<br>
                        主体缺失型问题（同时能模糊匹配到实体，无法进行全文查询）<br>
                        一个问题中包含多个问题<br>
                        比较型问题<br>
                        原因型问题<br>
                        模糊匹配和内容检索冲突（直接模糊匹配，没有后续的属性内容检索）<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        模糊匹配和内容检索冲突<br>
                        带着“提示”，就会进行模糊匹配，去掉才可以进行属性抽取<br>
                        答案在分词时将“跨行汇款”和“工行汇款”合并了，所以没有将标准答案作为候选<br>
                        实体名在最后，不能识别整个问句(企业网银放在了后面)<br>
                        实体名在最后，不能识别整个问句<br>
                        判断为流程型问题<br>
                        判断为流程型问题<br>
                        汇总型的问题<br>
                        汇总型的问题<br>
                        汇总型的问题<br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var main_input;

        $(".sampleQuestionItem").each(function(){
            $(this).click(function(){
                main_input.val($(this).text());
                jump();
            });
        });

        function jump(){
            var question = $.trim(main_input.val());
            if (question !== ""){
                if (window.location.pathname==="/"){
                    getData(question);
                }
                else{
                    window.location.href = "/?q="+ encodeURIComponent(question);
                }
            }
            main_input.val("");
        }

    </script>

{% endblock %}